<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="login.css"  rel="stylesheet"type="text/css"/>
    <script src="events.js"></script>
</head>
<body>
    <div class="back">
        <ul class="nav-list"> 
            <li id="l1"><a  href="/home">Home</a></li>
        </ul>
    
    <div  class="login-form">
        
            
    <h1>LOGIN</h1>
    <form name="login" method="post" action="/login">
         
        <p>UserName:</p>    
        <input type="text" id="username" name="username" placeholder="UserName"><span><h4 id="demo"></h4></span>
        
        
        
        <p>Password:</p>
        <input type="password"id="password" name="password" placeholder="Password"><span><h4 id="demo1"></h4></span>
   
        <p><button type="submit" id="sub" >Login</button></p>

        <span ></span>
        
    </form> 
</div>
</div>

</body>
</html>