<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW</title>
    <link href="verify.css"  rel="stylesheet"type="text/css"/>
</head>
<body>
    <div class="back">
        <ul class="nav-list"> 
            <li id="l1"><a  href="/home">Home</a></li>
        </ul>
        
    <div  class="login-form">
    <h1>VERIFY</h1>
    <form name="forms" method="post" action="/register">
      
        <p>CaseNo:</p>    
        <input type="text" id="case"placeholder="Case Number">
        <p>ID:</p>
        <input type="text"id="id"placeholder="ID">
        
        <p><button type="submit">VERIFY</button></p>
    
    </form>
</div>
</div>
</body>
</html>